---
title: Download | Pannellum
download: true
---

{% include header.html %}

<div class="inner cover text-left">

<h1>Download Pannellum</h1>
<p>
  <a href="https://github.com/mpetroff/pannellum/releases/download/2.0.1/pannellum-2.0.1.zip" class="btn btn-primary btn-lg" role="button">Pannellum 2.0.1</a>
  <a href="https://github.com/mpetroff/pannellum/releases/download/2.0.1/pannellum-2.0.1_full.zip" class="btn btn-default btn-lg" role="button">Pannellum 2.0.1 (with tools and examples)</a>
</p>
<p>
  <a href="https://github.com/mpetroff/pannellum/blob/2.0.1/changelog.md">View Changelog</a>
</p>
<p>
  To use Pannellum, <code>pannellum.htm</code> needs to be placed on
  one&rsquo;s web server.
</p>
<br>

<h2>Pannellum Source</h2>
<p>
  The above packages only include the viewer itself. The full source code can
  be downloaded from <a href="https://github.com/mpetroff/pannellum/releases">GitHub</a>.
</p>
<br>

<h2>Building from Source</h2>
<p>
  The <code>utils/build</code> folder contains the required build tools, with
  the exception of Python 3.2+ and Java installations. To build a minified
  version of Pannellum, run either <code>build.sh</code> or
  <code>build.bat</code> depending on your platform.
</p>

</div>

{% include footer.html %}
