---
title: Features | Pannellum
features: true
---

{% include header.html %}

<div class="inner cover text-left">

<h1>Features</h1>
<ul>
  <li>Equirectangular, partial, cubic, and multi-resolution panoramas</li>
  <li>WebGL and CSS 3D based renderers</li>
  <li>Hotspots / Tours</li>
  <li>Compass headings</li>
  <li>Plug-in free</li>
  <li>Framework free</li>
  <li>Just 11kB gzipped</li>
</ul>

<h2>Browser Compatibility</h2>
<p>Since Pannellum is built with emerging web standards, it requires a modern browser to function.</p>
<h3>Full support (with appropriate graphics drivers):</h3>
<ul>
  <li>Firefox 10+</li>
  <li>Chrome 15+</li>
  <li>Safari 5.1+ (WebGL support must first be enabled in preferences)</li>
  <li>Internet Explorer 11+</li>
</ul>
<h3>Almost full support (no full screen):</h3>
<ul>
  <li>Firefox 4+</li>
  <li>Chrome 9+</li>
  <li>Opera 12+ (WebGL support must first be enabled in preferences)</li>
</ul>
<h3>No support:</h3>
<ul>
  <li>Internet Explorer 10 and previous</li>
</ul>

<h2>License</h2>
<p>Pannellum is distributed under the <a href="https://github.com/mpetroff/pannellum/blob/master/COPYING">MIT License</a>.</p>

</div>

{% include footer.html %}
