---
title: Pannellum
description: Pannellum is a lightweight, free, and open source panorama viewer for the web. Built using HTML5, CSS3, JavaScript, and WebGL, it is plug-in free.
home: true
---

{% include header.html %}

<div class="inner cover">

<h1 class="cover-heading">A Lightweight Panorama Viewer for the Web</h1>
<p class="lead">
  Pannellum is a lightweight, free, and open source panorama viewer for the web. Built using HTML5, CSS3, JavaScript, and WebGL, it is plug-in free.
</p>
<p class="lead">
  <iframe title="pannellum panorama viewer" allowfullscreen style="border-style:none;width:100%;height:390px;" src="/pannellum/pannellum.htm?tour=/panoramas/tour.json"></iframe>
</p>

</div>

{% include footer.html %}
